/* ------- fonts ------- */

@font-face {
	font-family: "DOS";
	src: url(Fonts/DOS437.ttf);
}

@font-face {
	font-family: "Petscop";
	src: url(Fonts/PetscopWide.ttf);
}

/* ------- utility ------- */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column3 {
  float: left;
  width: 13.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ------- styles ------- */

body {
	background-color:#000000;
	background-image:url('Images/mainBackground.png');
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	;
}

a {
cursor: url('Images/cursor-select.cur'),auto;
color:yellow;
text-decoration:none;
}

a:hover{
color:green;
text-decoration:underline;
}

a:active{
color:purple;
text-decoration:underline;
}



img {
filter: brightness(0.2);	
}

.text0 {

 font-family: DOS; 
 color:blue;
 font-size:32px;
}

.text1 {
 font-family: Petscop; 
 color:white;
 font-size:32px;
 padding: 5px;
}

.text2 {
 font-family: DOS; 
 color:#757575;
 font-size:28px;
 padding:10px;
}

.text3 {
 font-family: Petscop; 
 color:#5c5c5c;
 font-size:24px;
 padding: 5px;
}

.textBig {
 font-family: Petscop; 
 color:white;
 font-size:64px;
 padding:20px;
}

.crt{	
width: auto; /*2117*/
height: 1252px;
background-size:auto;
background-image:url('Images/mainForeground.png');
background-repeat:no-repeat;
background-position:center;
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  padding-top:345px;
  
}

.backlight {
filter: brightness(4);
cursor: url('Images/cursor.cur'),auto;
width: 800px;
height: 600px;
background-image:url('Images/pixelyc.png');
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: 6px solid #020202;

}

.maindisplay {

mix-blend-mode:multiply;
/*filter: brightness(4);*/
width: 800px;
height: 600px;
background-image:url('Images/bg2.png');
}

.statusbar {
font-family: DOS; 
background-color:blue;
color:white;
font-size:32px;
}

.statusbar #links {
display:none;
padding:5px;
position:absolute;
width:99%;
z-index:99;
}

.statusbar a:active #linkbut {
	background-color:#000035;
	font-size:10px;
}

.bottombar {
font-family: DOS; 
background-color:blue;
color:white;
font-size:32px;
position:absolute;
bottom:0px;
left:0px;

}
